version: '3.8'
services:
  auth_service:
    restart: always
    build: ./blog_auth

  posts_service:
    restart: always
    build: ./blog_posts

  nginx:
    restart: always
    image: nginx:1.21
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - static_volume:/code/staticfiles
      - ./conf/nginx.conf:/etc/nginx/conf.d/default.conf
      - /etc/ssl/certs/flagrotownblog.crt:/etc/ssl/certs/flagrotownblog.crt:ro
      - /etc/ssl/private/flagrotownblog.key:/etc/ssl/private/flagrotownblog.key:ro
    depends_on:
      - auth_service
      - posts_service
